th {
  width:5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5rem;
  align-self: flex-start;
  display: inline-block;

}
